<?xml version="1.0" ?>
<robot name="vikram_dis" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find vikram_dis_description)/urdf/materials.xacro" />
<xacro:include filename="$(find vikram_dis_description)/urdf/vikram_dis.trans" />
<xacro:include filename="$(find vikram_dis_description)/urdf/vikram_dis.gazebo" />
<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="0.010761989671521484 0.005906678158446041 0.43560723373422566"/>
    <mass value="7.067521369442045"/>
    <inertia ixx="0.037702" ixy="-0.000184" ixz="-0.006128" iyy="0.061125" iyz="-4.7e-05" izz="0.069572"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="kinect_link_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.031040820230747473 8.046398939702895e-05 0.0011790850564638578"/>
    <mass value="0.5422411898927701"/>
    <inertia ixx="0.002787" ixy="1.2e-05" ixz="-1e-06" iyy="0.000223" iyz="-2e-06" izz="0.002879"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.145827 -0.006542 -0.459518"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/kinect_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.145827 -0.006542 -0.459518"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/kinect_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="camera_link_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.005985668066420119 4.195691733565633e-06 -5.422414081512894e-05"/>
    <mass value="0.12265645188988797"/>
    <inertia ixx="1.3e-05" ixy="0.0" ixz="0.0" iyy="1e-05" iyz="0.0" izz="1.1e-05"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.202318 -0.004514 -0.441351"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/camera_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.202318 -0.004514 -0.441351"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/camera_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leftthigh_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.09689429572694824 0.04650557598173817 -0.05041905595274898"/>
    <mass value="0.4240185441189414"/>
    <inertia ixx="0.001296" ixy="-0.000287" ixz="0.001276" iyy="0.003342" iyz="0.00015" izz="0.003067"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.057916 -0.090406 -0.387875"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/leftthigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.057916 -0.090406 -0.387875"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/leftthigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="rightthigh_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.09711412873531257 -0.04528588750671163 -0.051103183118579976"/>
    <mass value="0.4240185441189414"/>
    <inertia ixx="0.00129" ixy="0.00026" ixz="0.001279" iyy="0.003349" iyz="-0.000136" izz="0.003066"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.056919 0.079591 -0.387738"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/rightthigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.056919 0.079591 -0.387738"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/rightthigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="motor_link_1_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-4.2320993852505706e-05 0.0067397772639073705 -1.1375185344442151e-05"/>
    <mass value="0.06999823026998438"/>
    <inertia ixx="3.2e-05" ixy="0.0" ixz="-0.0" iyy="1.1e-05" iyz="-0.0" izz="3.2e-05"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.055577 0.174343 -0.088016"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/motor_link_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.055577 0.174343 -0.088016"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/motor_link_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="motor_link_1_2">
  <inertial>
    <origin rpy="0 0 0" xyz="3.7389307303827e-05 -0.006740338975503607 -2.217474401300379e-05"/>
    <mass value="0.06999823026998438"/>
    <inertia ixx="3.2e-05" ixy="0.0" ixz="-0.0" iyy="1.1e-05" iyz="0.0" izz="3.2e-05"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.058328 -0.185646 -0.089193"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/motor_link_1_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.058328 -0.185646 -0.089193"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/motor_link_1_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_link_2_2">
  <inertial>
    <origin rpy="0 0 0" xyz="0.00011618333810482773 -0.01985347611789301 -1.660510072408472e-05"/>
    <mass value="0.1426377919274306"/>
    <inertia ixx="0.000147" ixy="-1e-06" ixz="-0.0" iyy="0.000281" iyz="0.0" izz="0.000147"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.056711 0.200845 -0.081115"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/wheel_link_2_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.056711 0.200845 -0.081115"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/wheel_link_2_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_link_2_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.00011639354809600544 0.01985348551435112 1.6193369433745164e-05"/>
    <mass value="0.1426377919274306"/>
    <inertia ixx="0.000147" ixy="-1e-06" ixz="0.0" iyy="0.000281" iyz="0.0" izz="0.000147"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.05917 -0.212147 -0.082248"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/wheel_link_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.05917 -0.212147 -0.082248"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/wheel_link_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="shoulder_link_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.1053568945975381 0.010444642439717357 0.16921020352325478"/>
    <mass value="0.3248629426538314"/>
    <inertia ixx="0.003938" ixy="-5e-06" ixz="-0.002287" iyy="0.005264" iyz="-9e-06" izz="0.001686"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.022826 0.007519 -0.558234"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/shoulder_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.022826 0.007519 -0.558234"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/shoulder_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="elbow_link_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.1676136269102525 -0.010877895969920668 -0.1315161886982421"/>
    <mass value="0.14217501750592101"/>
    <inertia ixx="0.00078" ixy="-6e-06" ixz="-0.000932" iyy="0.001955" iyz="-5e-06" izz="0.001237"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.212379 -0.012807 -0.862827"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/elbow_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.212379 -0.012807 -0.862827"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/elbow_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wrist_link_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.00039180122453902344 0.003989844954318769 0.016240023628286027"/>
    <mass value="0.01246916080662524"/>
    <inertia ixx="4e-06" ixy="-0.0" ixz="0.0" iyy="4e-06" iyz="0.0" izz="1e-06"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.063395 0.002587 -0.646298"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/wrist_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.063395 0.002587 -0.646298"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/wrist_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="grip_link_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.038797241893088086 -0.0001991975188514062 0.0034707933509176003"/>
    <mass value="0.012180779699964627"/>
    <inertia ixx="1e-06" ixy="-0.0" ixz="0.0" iyy="3e-06" iyz="-0.0" izz="3e-06"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.050444 -0.001435 -0.669602"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/grip_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.050444 -0.001435 -0.669602"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/grip_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="arm_base_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.005791863126462488 -0.0026412661500057584 0.017229692125318885"/>
    <mass value="0.3055003056442891"/>
    <inertia ixx="0.000454" ixy="1e-06" ixz="1.4e-05" iyy="0.000272" iyz="-0.0" izz="0.000597"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.024706 -0.005115 -0.52135"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/arm_base_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.024706 -0.005115 -0.52135"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/arm_base_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="cam_support_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.005829217868122134 2.218219364242993e-05 0.015136022937292659"/>
    <mass value="0.015667625068621845"/>
    <inertia ixx="9e-06" ixy="0.0" ixz="0.0" iyy="1e-06" iyz="-0.0" izz="8e-06"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.064281 -0.001377 -0.684292"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/cam_support_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.064281 -0.001377 -0.684292"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/cam_support_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="laser_link_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.013004844125734216 0.00014021108847628132 0.034655130535815815"/>
    <mass value="0.18084811340421866"/>
    <inertia ixx="8.4e-05" ixy="-0.0" ixz="-2.2e-05" iyy="0.000131" iyz="0.0" izz="0.000149"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.150644 -0.006548 -0.487181"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/laser_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.150644 -0.006548 -0.487181"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/laser_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="realsense_link_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.01156884797060824 0.003455263003606255 -0.0004465098711574633"/>
    <mass value="0.04228675377977692"/>
    <inertia ixx="2.8e-05" ixy="0.0" ixz="-0.0" iyy="4e-06" iyz="-0.0" izz="2.8e-05"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.062122 -0.001378 -0.699345"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/realsense_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.062122 -0.001378 -0.699345"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/realsense_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="front_name_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.0009886391869325106 0.002240109079289678 -0.00026722291772435236"/>
    <mass value="0.0013045732982823952"/>
    <inertia ixx="1e-06" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="1e-06"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.131142 -0.006494 -0.411713"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/front_name_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.131142 -0.006494 -0.411713"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/front_name_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="rightleg_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.12012286223126097 0.03292496120188243 -0.0816975834089387"/>
    <mass value="0.33293610955358743"/>
    <inertia ixx="0.001612" ixy="-0.000206" ixz="-0.001899" iyy="0.004214" iyz="-0.000141" izz="0.003097"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.191706 0.173029 -0.257869"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/rightleg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.191706 0.173029 -0.257869"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/rightleg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="leftleg_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.11989589808092872 0.04579943998290448 -0.08212882937282706"/>
    <mass value="0.33293610955358743"/>
    <inertia ixx="0.001616" ixy="0.000178" ixz="-0.001904" iyy="0.004218" iyz="0.000121" izz="0.003088"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.190049 -0.106966 -0.258067"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/leftleg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.190049 -0.106966 -0.258067"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/leftleg_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="rod_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.0001641310493621928 0.027999088902548985 2.294266050278937e-05"/>
    <mass value="0.01959163529215445"/>
    <inertia ixx="2.7e-05" ixy="0.0" ixz="0.0" iyy="0.0" iyz="-0.0" izz="2.7e-05"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.1917 0.172029 -0.257869"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/rod_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.1917 0.172029 -0.257869"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/rod_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="rod_2">
  <inertial>
    <origin rpy="0 0 0" xyz="0.0001647060768620312 -0.027999269194341786 -2.2675294601759433e-05"/>
    <mass value="0.01959163529215445"/>
    <inertia ixx="2.7e-05" ixy="0.0" ixz="0.0" iyy="0.0" iyz="-0.0" izz="2.7e-05"/>
  </inertial>
  
  <collision>
    <origin rpy="0 0 0" xyz="-0.189585 -0.185964 -0.258131"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/rod_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="stand_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.0592642999235653 0.009345756081004797 -0.14300593642992077"/>
    <mass value="0.11613787843167664"/>
    <inertia ixx="0.000536" ixy="-1e-06" ixz="0.000176" iyy="0.000601" iyz="1e-06" izz="7.7e-05"/>
  </inertial>
  
  <collision>
    <origin rpy="0 0 0" xyz="-0.191911 0.208029 -0.25784"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/stand_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="stand_2">
  <inertial>
    <origin rpy="0 0 0" xyz="0.061855284133028765 -0.008420795671348957 -0.14196366414859674"/>
    <mass value="0.11613787843167664"/>
    <inertia ixx="0.00053" ixy="-1e-06" ixz="0.000184" iyy="0.000601" iyz="1e-06" izz="8.3e-05"/>
  </inertial>
  
  <collision>
    <origin rpy="0 0 0" xyz="-0.189374 -0.221964 -0.25816"/>
    <geometry>
      <mesh filename="package://vikram_dis_description/meshes/stand_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rigid1" type="fixed">
  <origin rpy="0 0 0" xyz="0.145827 0.006542 0.459518"/>
  <parent link="base_link"/>
  <child link="kinect_link_1"/>
</joint>

<joint name="Rigid3" type="fixed">
  <origin rpy="0 0 0" xyz="-0.202318 0.004514 0.441351"/>
  <parent link="base_link"/>
  <child link="camera_link_1"/>
</joint>

<joint name="thigh_base_left" type="fixed">
  <origin rpy="0 0 0" xyz="-0.057916 0.090406 0.387875"/>
  <parent link="base_link"/>
  <child link="leftthigh_1"/>
  <axis xyz="-0.005867 0.999982 0.000806"/>
</joint>

<joint name="thigh_base_right" type="fixed">
  <origin rpy="0 0 0" xyz="-0.056919 -0.079591 0.387738"/>
  <parent link="base_link"/>
  <child link="rightthigh_1"/>
  <axis xyz="0.005867 -0.999982 -0.000806"/>
</joint>

<joint name="Rigid28" type="fixed">
  <origin rpy="0 0 0" xyz="-0.247283 -0.001314 -0.169853"/>
  <parent link="rightleg_1"/>
  <child link="motor_link_1_1"/>
</joint>

<joint name="Rigid29" type="fixed">
  <origin rpy="0 0 0" xyz="-0.248377 0.07868 -0.168874"/>
  <parent link="leftleg_1"/>
  <child link="motor_link_1_2"/>
</joint>

<joint name="wheel_right" type="continuous">
  <origin rpy="0 0 0" xyz="-0.001134 -0.026502 -0.006901"/>
  <parent link="motor_link_1_1"/>
  <child link="wheel_link_2_2"/>
  <axis xyz="0.005867 0.999982 0.000806"/>
</joint>

<joint name="wheel_left" type="continuous">
  <origin rpy="0 0 0" xyz="-0.000842 0.026501 -0.006945"/>
  <parent link="motor_link_1_2"/>
  <child link="wheel_link_2_1"/>
  <axis xyz="0.005867 0.999982 0.000806"/>
</joint>

<joint name="shoulder" type="fixed">
  <origin rpy="0 0 0" xyz="-0.00188 -0.012634 0.036884"/>
  <parent link="arm_base_1"/>
  <child link="shoulder_link_1"/>
  <axis xyz="-0.005867 0.999982 0.000806"/>
</joint>

<joint name="elbow" type="fixed">
  <origin rpy="0 0 0" xyz="0.189553 0.020326 0.304593"/>
  <parent link="shoulder_link_1"/>
  <child link="elbow_link_1"/>
  <axis xyz="0.005867 -0.999982 -0.000806"/>
</joint>

<joint name="wrist" type="fixed">
  <origin rpy="0 0 0" xyz="-0.275774 -0.015394 -0.216529"/>
  <parent link="elbow_link_1"/>
  <child link="wrist_link_1"/>
  <axis xyz="-0.005867 0.999982 0.000806"/>
</joint>

<joint name="Rigid41" type="fixed">
  <origin rpy="0 0 0" xyz="0.012951 0.004022 0.023304"/>
  <parent link="wrist_link_1"/>
  <child link="grip_link_1"/>
</joint>

<joint name="arm_base" type="fixed">
  <origin rpy="0 0 0" xyz="0.024706 0.005115 0.52135"/>
  <parent link="base_link"/>
  <child link="arm_base_1"/>
  <axis xyz="-0.006594 -0.000845 0.999978"/>
</joint>

<joint name="Rigid43" type="fixed">
  <origin rpy="0 0 0" xyz="-0.000886 0.003964 0.037994"/>
  <parent link="wrist_link_1"/>
  <child link="cam_support_1"/>
</joint>

<joint name="Rigid46" type="fixed">
  <origin rpy="0 0 0" xyz="0.150644 0.006548 0.498181"/>
  <parent link="base_link"/>
  <child link="laser_link_1"/>
</joint>

<joint name="Rigid48" type="fixed">
  <origin rpy="0 0 0" xyz="0.002159 1e-06 0.015053"/>
  <parent link="cam_support_1"/>
  <child link="realsense_link_1"/>
</joint>

<joint name="Rigid51" type="fixed">
  <origin rpy="0 0 0" xyz="0.131142 0.006494 0.411713"/>
  <parent link="base_link"/>
  <child link="front_name_1"/>
</joint>

<joint name="leg_thigh_right" type="fixed">
  <origin rpy="0 0 0" xyz="0.248625 -0.093438 -0.129869"/>
  <parent link="rightthigh_1"/>
  <child link="rightleg_1"/>
  <axis xyz="-0.005867 0.999982 0.000806"/>
</joint>

<joint name="leg_thigh_left" type="fixed">
  <origin rpy="0 0 0" xyz="0.247965 0.01656 -0.129808"/>
  <parent link="leftthigh_1"/>
  <child link="leftleg_1"/>
  <axis xyz="0.005867 -0.999982 -0.000806"/>
</joint>

<joint name="rod_leg_right" type="fixed">
  <origin rpy="0 0 0" xyz="-6e-06 0.001 0.0"/>
  <parent link="rightleg_1"/>
  <child link="rod_1"/>
</joint>

<joint name="rod_leg_left" type="fixed">
  <origin rpy="0 0 0" xyz="-0.000464 0.078998 6.4e-05"/>
  <parent link="leftleg_1"/>
  <child link="rod_2"/>
</joint>

<joint name="Rev58" type="fixed">
  <origin rpy="0 0 0" xyz="0.000211 -0.036 -2.9e-05"/>
  <parent link="rod_1"/>
  <child link="stand_1"/>
  <axis xyz="0.005867 -0.999982 -0.000806"/>
</joint>

<joint name="Rev59" type="fixed">
  <origin rpy="0 0 0" xyz="-0.000211 0.036 2.9e-05"/>
  <parent link="rod_2"/>
  <child link="stand_2"/>
  <axis xyz="-0.005867 0.999982 0.000806"/>
</joint>

</robot>
